@charset "UTF-8";
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'FonteSite';
    src: url("../layout/DancingScript-VariableFont_wght.ttf");
}

/* Formatação do Menu */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 40px;
}

input#chec {
    display: none;
}

nav {
    background-color: rgba(16, 16, 16, .5);
    width: 350px;
    height: 993px;
    left: -360px;
    position: absolute;
    transition: all .5s;
    z-index: 1;
    border-radius: 10px;
}

input#chec[type="checkbox"]:checked~nav{
    transform: translateX(360px);
}

ul#menu {
    top: 50px;
    position: absolute;
    width: 100%;
}

a#link {
    display: block;
    padding: 20px 5px;
    color: white;
    z-index: 1;
}

a#link-aula {
    background-color: rgb(201, 201, 201);
    text-decoration: underline;
}

a#link:hover {
    background-color: cyan;
    color: black;
}

label {
    top: -10px;
    padding: 15px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

label#submenu1 {
    position: relative;
    color: white;
}

h1#titulo {
    border-bottom: 1px solid #606060;
    text-align: center;
}

/* Formatação das Aulas */

h2#aula {
    padding: 5px;
}

h2#projeto {
    padding: 5px;
    z-index: -1;
}

h1.text {
    background-color: rgba(16, 16, 16, .3);
    text-align: center;
    padding: auto;
}

/* Formatação de Tabela */

table#estudantes {
    border: 1px solid black;
    background-color: rgb(201, 201, 201);
    border-left: 500px;
}

table#estudantes td {
    border: 1px solid black;
}

/* Formatação do footer */

footer#criador {
    text-align: center;
    color: darkcyan;
}

/* Coloração de fundo */

body {
    background-color: rgb(201, 201, 201);
}

/* Formatação do site */

h1 {
    color: cornflowerblue;
}

h2 {
    text-align: center;
    color: cornflowerblue;
    padding: 50px;
    font-size: 50px;
}

h3 {
    padding-top: 50px;
    text-align: center;
    color: cornflowerblue;
}

p {
    text-align: center;
    color: #C067FC;
    text-shadow: #9C42DC 1px 1px 2px;
    font-size: 25px;
}

p.menu-link {
    color: white;
    text-align: left;
    text-shadow: none;
    font-size: 20px;
}

a#projeto {
    text-decoration: underline;
    color:cornflowerblue;
}

/* Divisões */

footer {
    border-top: #606060 solid 1px;
    margin-top: 10px;
    padding-top: 20px;
}

body {
    font-family: FonteSite;
    font-size: 20px;
}

ul#objetivo {
    text-align: center;
    color: deepskyblue;
}

/* foto inicial */

ul#MilkShake li {
    background: url("../imagens/fotoMilkShake.png") no-repeat;
    background-position: 50% 50%;
    background-size: 556px 574px;
    padding: 300px;
    z-index: -1;
}

ul#MilkShake li span {
    opacity: 0;
}

ul#MilkShake li {
    list-style: none;
}

/* Projetos */

Iframe#yt {
    position: relative;
    left: 32%;
    padding: auto;
}

i#fone {
    font-size: 30px;
}

i#mail {
    font-size: 30px;
}

i#zap {
    font-size: 30px;
}
